body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
}


.header h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;

    margin-top: 0;
    padding: 0;

}

.toggle {
    margin-left: 25px;
   
    height: 45px;
    background: inherit;
    border: 0;
    padding: 0; 
    margin-top: 0;
}

.toggle i {
    padding: 0; 
    margin-top: 0;

}


.toggle .fa-bars {
    font-size: 45px;

}

.toggle .fa-times {
    color: white;
    font-size: 60px;
    margin-top: -7px;
    margin-left: -7px;
    -webkit-text-stroke: 4px rgb(96, 70, 70);

    position: relative;
    z-index: 2;
}



/* Overlay Styles */
.overlay:not(.overlay-active) {
    display: none;
}

.nav:not(.overlay-active) {
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
    z-index: 1;

}

.nav-item {
    color: white;
    font-size: 45px;
    font-family: inherit;
    text-decoration: inherit;

}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;

    background-color: rgb(96, 70, 70);
    z-index: 1;
}

/* Content Styling */

.content {
    margin-left: 10vw;
    margin-right: 10vw;
}



.MathJax:not(h3):not(h2) {
    font-size: 30px;
}